body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #28282B;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 18px 28px;
    margin-left: 50px;
    text-decoration: none;
    font-family: OCRAEXT;
    font-size: 24px;
}

li{
    float: left;
}

li a:hover{
    background-color: #ff2600;
    font-style: italic;
    color: #fdf600;
}

.active{
    margin-left: 335px;
}

.logo{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 300;
    left: 7px;
    margin: 0;
}

.underline{
    width: 100%;
    height: 5px;
    background-color: #ff2600;
    box-shadow: 0 0 7px 2px #ff2600;
}