* {
  margin: 0;
  padding: 0;
  size: 0;
}
body {
    font-family: "Goldman", cursive;
  }
  
  nav {
    display: flex;
    width: 100%;
    padding: 1%;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #01880f;
    justify-content: space-between;
    margin: 0;
    justify-content: flex-start;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  
    
 img {
  display: flex;
  -ms-flex-align: center;

 }
  
  
  
  
  